<template>
  <div class="home">
    <!-- error -->
    <div v-if="error" class="error">Could not fetch data</div>

    <!-- menampilkan data -->
    <div v-if="documents">
        <!-- list of playlist -->
        <ListView :playlists="documents" />
    </div>

    <!-- menunggu untuk menampilkan data -->
    <div v-else>Loading data...</div>
  </div>
</template>

<script>
import ListView from '@/components/ListView.vue'
import getCollection from '@/composables/getCollection'

export default {
  name: 'Home',
  components: { ListView },
  setup() {
    const { error, documents } = getCollection('playlists')

    return { error, documents }
  }
}
</script>
