<template>
  <div class="navbar">
    <nav>
      <img src="@/assets/ninja.png" alt="logo">
      <h1><router-link :to="{ name: 'Home' }">Muso Ninjas</router-link></h1>
      <div class="links">
        <div v-if="user">
          <router-link :to="{ name: 'CreatePlaylist' }">Create Playlist</router-link>
          <router-link :to="{ name: 'UserPlaylists' }">My Playlist</router-link>
          <span>Hi, {{ user.displayName }}</span>
          <button @click.prevent="handleLogout">Logout</button>
        </div>
        <div v-else>
          <router-link :to="{ name: 'Signup' }" class="btn">Signup</router-link>
          <router-link :to="{ name: 'Login' }" class="btn">Login</router-link>
        </div>
      </div>
    </nav>
  </div>
</template>

<script>
import { useRouter } from 'vue-router'
import useLogout from '@/composables/useLogout'
import getUser from '@/composables/getUser'

export default {
  setup() {
    const router = useRouter()
    const { logout } = useLogout()
    const { user } = getUser()

    const handleLogout = async () => {
      await logout()
      router.push({ name: 'Login' })
    }
    
    return { handleLogout, user }
  }
}
</script>

<style scoped>
.navbar {
  padding: 16px;
  margin-bottom: 60px;
  background: white;
}
nav {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}
nav h1 {
  margin-left: 20px;
}
nav .links {
  margin-left: auto;
}
nav .links a, button {
  margin-left: 16px;
  font-size: 14px;
}
nav img {
  max-height: 60px;
}
</style>